# .dockerignore
# whitelist based ignore-file

# ignore all
*
.*

# whitelist
!/infra/
!/lambdas/
!/scripts/
!/secrets/.keys/.gitignore
!/secrets/encrypted/
!/config.yaml
!/Makefile
!/LICENSE

# ignore whitelisted subpaths
/infra/cdk.out/
/infra/node_modules/
/infra/lambdas/*/node_modules/
/infra/**/*.js
